.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  border: 1px solid #323232;
  width: 20vw;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
}