.wrapper {
	background-color: #161416;
	border: 1px solid #323232;
	padding: 20px;
	border-radius: 20px;
	width: 50vw;
	.main {
		display: flex;
		height: 85%;
		gap: 10px;
		.authorAndStatus {
			display: flex;
			justify-content: space-between;
			width: 40vw;
			font-weight: bold;
			padding-right: 20px;
		}
		.img {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			min-width: 50px;
			width: 50px;
			img {
				border-radius: 100%;
			}
			> div {
				margin-top: 10px;
				background-color: #6c6c6c;
				height: 60%;
				width: 1px;
			}
		}
		.thread {
			line-height: 30px;
			word-break: break-all;
		}
	}
	.feedback {
		margin-top: 20px;
		.row__one {
			font-size: 25px;
			cursor: pointer;
			display: flex;
			width: 100px;
			gap: 20px;
			margin-bottom: 10px;
			.active{
				color: red;
			}
		}
		.row__two {
			color: #b6b6b6;
			display: flex;
			gap: 10px;
			.item{
				display: flex;
				gap: 10px;
			}
		}
	}
}
