.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  border: 2.5px solid #323232;
  border-radius: 20px;
  width: 45vw;
  .desription{
    display: flex;
    align-items: center;
    gap: 20px;
    .title{
      font-size: 20px;
      font-weight: bold;
    }
    p{
      margin-top: 5px;
      color: #c8c8c8;
    }
  }
  .button{
    padding: 15px 25px;
    font-size: 20px;
    min-width: 300px;
    max-width: 300px;
  }

  .active {
    background-color: #0c090c;
    color: #fff;
  }
}